@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witaj w cyfrowym systemie biblioteki. </h1>
    <h1 class="display-5">Kliknij w zakładkę "Stan Biblioteki" by zobaczyć więcej. </h1>
    <p>Wykonane przez: Bartłomiej Antos 12933, Mateusz Zięba 13388, Wojciech Latko 13131.</p>
</div>
